version: '3.8'

services:
  # 'db' servisini silebilirsin veya yorum satırı yapabilirsin, artık Azure kullanıyoruz.
  
  soa-service:
    build: .
    container_name: team1_soa_service
    ports:
      - "8000:8000"
    environment:
      # --- AZURE AYARLARI ---
      # Resimdeki "Endpoint" adresi
      - DB_HOST=team1-postgres-db.postgres.database.azure.com
      
      - DB_PORT=5432
      
      # Varsayılan veritabanı
      - POSTGRES_DB=postgres
      
      # Resimdeki "Administrator login"
      - POSTGRES_USER=admin1
      
      # Senin belirlediğin şifre
      - POSTGRES_PASSWORD=Root1234!
      
      - PORT=8000
    restart: on-failure